<div>
  <a routerLink='/'>Go Home</a>
  <h2 *ngIf="msg">{{msg}}!</h2>
  <div *ngIf="!isSign">
    <div>
      <h2>Login</h2>
      <h3>Username:</h3>
      <input type="text" [(ngModel)]="inUserLogin.username">
      <h3>Password:</h3>
      <input type="password" [(ngModel)]="inUserLogin.password">
      <p></p>
      <button (click)="login()">Login</button>
      <button (click)="signUp()">Sign Up</button>
    </div>
    <hr>
  </div>
  <div *ngIf="isSign">
    <h2>Sign Up</h2>
    <h3>Email:</h3>
    <input type="text" [(ngModel)]="inUserSignUp.email">
    <h3>Username:</h3>
    <input type="text" [(ngModel)]="inUserSignUp.username">
    <h3>Password:</h3>
    <input type="password" [(ngModel)]="inUserSignUp.password">
    <p></p>
    <button (click)="login()">Login</button>
    <button (click)="signUp()">Sign Up</button>
  </div>
</div>